@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root{
    /* --corBackground: rgb(253, 250, 234); */
    --corFont1: white;

    --font1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font2: "Comfortaa", sans-serif;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow: hidden; */
}


#containerPrincipal{
   display: flex;
   flex-direction: column;
   background-image: linear-gradient(45deg, #0F1444, #871FF2);
   height: 100vh;
}


header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 30vh;
}

#navDesktop{
    display: flex;
    width: 50vw;
    height: fit-content;
    justify-content: center;
    gap: 50px;
    padding-right: 120px;   
}

button{
    width: 120px;
    height: 30px;
    color: var(--corFont1);
    font-family: var(--font2);
    font-size: 1.2rem;
    border: none;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.192);
    background-color: rgba(158, 66, 250, 0.363);
    cursor: pointer;
}

button:hover{
    background-color: rgb(158, 66, 250);
}


button:active{
    background-color: rgba(208, 166, 250, 0.288);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.192);
}

#logo{
    padding: 45px 0px 0px 50px;
}

#logo img{
    width: 400px;
    filter: drop-shadow(0px 0px 3px #79C6FD);
}

#nome h1{
    color: var(--corFont1);
    font-size: 1.3rem;
    font-family: var(--font1);
}

main{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

#foto{
    padding: 20px 0px 0px 160px;
   
}

#foto img{
    width: 250px;  
    filter: drop-shadow(0px 0px 15px #79C6FD);
    animation: 3s movimentar infinite alternate;

}

#elipse{
    width: 200px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.582);
    margin: 35px 0px 0px 40px;
    animation: 3s diminuir infinite alternate;
    position: absolute;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.685);

}

#ola{
    width: 50vw;
    padding: 130px 0px 0px 120px;  
   
}

#ola h2{
    color: var(--corFont1);
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
    font-family: var(--font1);
    padding: 0px 130px 50px 0px;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.966);
}


#ola h2:after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: flash .7s infinite;
 }

.esconder{
    display: none;
}

#carrossel{
    width: 65%;
    height: fit-content;
    text-align: center;
    border-radius: 30px 0px 0px 30px;
    padding-left: 10px;
    animation: 1s crescer;
    overflow: hidden;
   
}

#tituloDoSlide{
    opacity: 0;
    color: var(--corFont1);
    font-family: var(--font2);
    margin-bottom: 5%;
}

.swiper-wrapper{
    cursor: pointer;
 
}

.containerSwiperExpandido{
    background-color: #0f015052;
    backdrop-filter: blur(20px);
    width: 70%;
    height: fit-content;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    margin: 5% 0% 0% 15%;
    border-radius: 20px;
    border: 1px solid rgb(177, 174, 174);
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.432);

}

.containerSuperior{
    display: flex;
    text-align: justify;
    margin: 15px 15px 0px 10px;
}

.containerSuperior div{
    padding: 0px 20px;
}

.containerSuperior h4{
    color: white;
    font-size: 2rem;
    margin-left: 20px;
    border-bottom: 1px solid white;
}

.containerSuperior p{
    font-size: 1rem;
    margin: 25px 0px 0px 20px;
    line-height: 25px;
}

.imgExpandida{
    width: 500px;
    max-height: 200px;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.432);
    animation: creser 1s;
}



.x{
    width: 15px;
    height: 15px;
    filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.432));
    cursor: pointer;
}

.x:hover{
    opacity: 80%;
    
}

.x:active{
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.795));
}

.containerInferior{
    margin: 30px 50px 0px 20px;
    display: flex;
    flex-direction: column;
    
}

.containerInferior h4{
    margin-bottom: 20px;
    color: white;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    margin-left: 20px;
}   

.containerInferior p{
    font-size: 1rem;
    line-height: 25px;
    text-align: justify;
    margin-left: 20px;
}

.containerInferior a{
    text-decoration: none;
    color: var(--corFont1);
    font-family: var(--font2);
    font-size: 1.3rem;
    background-color: rgb(108, 6, 209);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.39);
    width: 400px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px auto;
}

.containerInferior a:hover{
    background-color: rgba(108, 6, 209, 0.705);
    
}

.containerInferior a:active{
    background-color: rgba(139, 23, 255, 0.911);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.192);
}


/* <!-- ---------------------------------Containeres Sobre------------------------------ --> */

#containerSobre{
    background-color: #0f1444a8;
    width: fit-content;
    height: 80vh;
    position: absolute;
    margin: 100px 100px;
    border-radius: 20px;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.432);
    z-index: 1;
    animation: 1s crescer ;
    overflow: hidden;
    backdrop-filter: blur(20px);
    border: 1px solid rgb(177, 174, 174);
    
}

#xBotaoFecharSobre{
    text-align: end;
    margin: 15px 15px 10px 0px;
}

#containerSobreConteudo{
    overflow-y: auto;
    height: 80%;
    scrollbar-color: rgba(0, 0, 0, 0.247) transparent;
}

#containerSobre p{
    font-size: 1.1rem;
    line-height: 25px;
    width: 90%;
    text-align: justify;
    margin: auto;
}

#containerSobreConteudo strong{
    margin-left: 30px;
    line-height: 40px;
    font-style: italic;
}


/* <!-- ---------------------------------Containeres footer------------------------------ --> */

footer{
    display: flex;  
    justify-content: space-evenly;
    background-color: #100150;
    height: 20vh;
    align-items: end; 
    gap: 200px; 
    padding: 0px 20px 10px 50px;
    
}

#containerTextosFooter{
   
}

footer h1, p{ 
    color: #ffffff;
    font-size: .9rem;
    font-family: var(--font2);
    margin: 7px 0px;
}

#containerRedeSociais{
    display: flex;
    align-items: baseline;
    gap: 40px;
    
  
}

footer img{ 
    width: 25px;

}






@keyframes movimentar {
    from{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(0px, 20px);
    }
}

@keyframes diminuir {
    from{
        transform: scale();
    }
    to{
        transform: scale(.9);
    }
}

@keyframes crescer {
    from{
        transform: scale(.1);
    }
    to{
        transform: scale(1);
    }
}

@keyframes fadein {
    from { opacity: 1; }
    to { opacity: 0; }
}


@keyframes flash{
   0%, 100%{
       opacity: 1;
   }
   50%{
       opacity: 0;
   }
}




@media (max-width: 900px){


    header{
        flex-direction: column;
        justify-content: space-between;
        height: 30vh;
    }

    #navDesktop{
        display: none;
    }

    #navResponsivo{
        display: flex;
        margin: 10px 0px 0px 10px;
        cursor: pointer;
    }

    #logo img{
        width: 250px;
    }
 
    #foto img{
        width: 100px;  
    
    
    }
    
}