@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
:root{
    /* --corBackground: rgb(253, 250, 234); */
    --corFont1: white;

    --font1: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font2: "Comfortaa", sans-serif;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    /* overflow: hidden; */
}


#container{
   display: flex;
   flex-direction: column;
   background-image: linear-gradient(180deg, #871FF2, #0F1444);
   height: 100vh;
}


header{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

nav{
    display: flex;
    width: 50vw;
    height: fit-content;
    justify-content: center;
    gap: 50px;
    padding-right: 120px;   
}

button{
    width: 120px;
    height: 30px;
    color: var(--corFont1);
    font-family: var(--font2);
    font-size: 1.2rem;
    border: none;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.192);
    background-color: rgba(158, 66, 250, 0.363);
    cursor: pointer;
    font-family: pattana;
}

button:hover{
    background-color: rgb(158, 66, 250);
    
}

button:active{
    background-color: rgba(208, 166, 250, 0.288);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.192);
}

#logo{
    padding: 45px 0px 0px 50px;
}

#logo img{
    width: 400px;
}

#nome h1{
    color: var(--corFont1);
    font-size: 1.3rem;
    font-family: var(--font1);
}

main{
    display: flex;
    justify-content: space-between;

}

#foto{
    padding: 60px 0px 0px 160px;
   
}

#foto img{
    width: 250px;  
    filter: drop-shadow(0px 0px 15px #79C6FD);
    animation: 3s movimentar infinite alternate;

}

#elipse{
    width: 200px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.582);
    margin: 100px 0px 0px 40px;
    box-shadow: 0px 0px 10px black;
    animation: 3s diminuir infinite alternate;
}

#ola{
    width: 50vw;
    padding: 130px 0px 0px 120px;  
    

}

#ola h2{
    color: var(--corFont1);
    width: fit-content;
    height: fit-content;
    font-size: 3rem;
    font-family: var(--font1);
    padding: 0px 130px 50px 0px;
}

.esconder{
    display: none;
}

#carrossel{
    background-color: aliceblue;
    width: 60vw;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.432);
    /* background-color: rgb(158, 66, 250); */
    background-image: linear-gradient(45deg, #0F1444 , #871FF2);
    padding-left: 10px;
}






@keyframes movimentar {
    from{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(0px, 30px);
    }
}

@keyframes diminuir {
    from{
        transform: scale();
    }
    to{
        transform: scale(.9);
    }
}


